<span class="glyphicon glyphicon-refresh glyphicon-spin spinner" *ngIf="loading"></span>
<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <a class="navbar-brand">{{pageTitle}}</a>
            <ul class="nav navbar-nav">
                <li routerLinkActive="active">
                    <a [routerLink]="['/welcome']">Home</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a [routerLink]="['/products']">Product List</a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/products', 0, 'edit']">Add Product</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="isLoggedIn()">
                    <a>Welcome {{ getCurrentUserName() }}</a>
                </li>

                <li [ngSwitch]="isDisplayed()">
                    <a *ngSwitchCase="true" class="navbar-link" (click)="hideMessages()">Hide Messages</a>
                    <a *ngSwitchDefault class="navbar-link" (click)="displayMessages()">Show Messages</a>
                </li>

                <li [ngSwitch]="isLoggedIn()">
                    <a *ngSwitchCase="true" class="navbar-link" (click)="logOut()">Log Out</a>
                    <a *ngSwitchDefault [routerLink]="['/login']">Log In</a>
                </li>

            </ul>

        </div>
    </nav>
    <div class="row">
        <div class="pull-right col-md-2">isDisplayed = {{isDisplayed()}}</div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <router-outlet></router-outlet>
            </div>
            <div class="col-md-2">
                <router-outlet name="popup"></router-outlet>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <app-footer></app-footer>
            </div>
        </div>
    </div>
</div>

